<div *ngFor=" let node of datasource;  let i=index" class="oc-stack">
    <div *ngIf="i < 3">
        <mat-card class="node-card" id="card{{i}}" style={{getColor(node.title)}}>
            <mat-card-header class="header"></mat-card-header>
            <mat-card-content>
                <div class="inline"><img src="assets/icons/default-avatar.png" alt="" style="width: 48px; margin-left: 2px"></div>
                <div style="margin-left: 64px;">
                    <div><strong>{{node.name}}</strong></div>
                    <div style="margin-top: 6px">{{node.title}}</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
