.project-container {
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.spacer {
    flex: 1 1 auto;
}

.example-viewport {
    height: 150px;
    width: 100%;
    min-width: 500px;
  }
  
  .example-item {
    height: 50px;
  }

.project-detail {
    overflow-y: scroll;
    height: 100%;
    width: 450px;
}

.project-description-editor {
    width: 450px;
}

.project-description-textarea {
    line-height: 1.5;
    height: 100px;
}

.save-btn {
    position: relative;
    right: 0;
}

.save-btn-container {
    width: 100%;
}

.project-title-editor {
    font-weight: bolder;
    width: 450px;
}

.side-btn {
    width: 140px;
    height: 40px;
    margin-left: 8px;
    margin-bottom: 16px;
    text-align: start;
}

.icon {
    color: #707070;
    left: 8px;
    margin-right: 8px;
}

.side-btn-container {
    height: 100%;
}

.menu-btn {

}

.dialog-title {
    display: flex;
    flex-direction: row;
}

.spacer {
    flex: 1 1 auto;
}

.mat-menu-item {
    width: 150px;
}
