.project-container {
    width: 600px;
    height: 500px;
    overflow: hidden;
}

.project-detail {
    overflow-y: scroll;
    height: 100%;
    width: 450px;
}

.project-description-editor {
    width: 450px;
}

.project-description-textarea {
    line-height: 1.5;
    height: 100px;
}

.save-btn {
    position: absolute;
    right: 0;
}

.save-btn-container {
    width: 100%;
}

.project-title-editor {
    font-weight: bolder;
    width: 450px;
}

.side-btn {
    width: 150px;
    height: 40px;
    margin-bottom: 16px;
    text-align: start;
}

.icon {
    color: #707070;
    left: 8px;
    margin-right: 8px;
}

.side-btn-container {
    height: 100%;
}
