<div class="project-container">
    <div class="dialog-title">
        <img src="assets/icons/default-avatar.png" style="width: 50px; height: 50px; margin-right: 16px;">
        <div *ngIf="!editProjectName" (click)="editProjectName=true" style="margin-top: 10px">
            <h2 mat-dialog-title>{{project.name}}</h2>
        </div>
        <div *ngIf="editProjectName">
            <mat-form-field class="project-title-editor">
                <input matInput [(ngModel)]="projectName" (focusout)="onSaveTitle()" (keydown.enter)="onSaveTitle()">
            </mat-form-field>
        </div>
        <span class="spacer"></span>
        <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onEditProject()">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item (click)="onDeleteProject()" mat-dialog-close>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </div>
    <mat-dialog-content class="mat-typography">
        <h3><strong>Description</strong></h3>
        <div *ngIf="!editDescription" (click)="editDescription=true">
            <p *ngIf="project.description !== ''">{{project.description}}</p>
            <p *ngIf="project.description === ''">
                <i>Add a more detailed description...</i>
            </p>
        </div>
        <div *ngIf="editDescription">
            <mat-form-field appearance="fill" class="project-description-editor">
                <textarea matInput class="project-description-textarea" [(ngModel)]="projectDescription"></textarea>
            </mat-form-field>
            <div class="save-btn-container">
                <button mat-button class="save-btn" color="primary" (click)="onSaveDescription()">Save</button>
            </div>
        </div>

        <h3><strong>Manager</strong></h3>
        <app-project-list [projectData]="projectManager"></app-project-list>

        <h3><strong>Assignees</strong></h3>
        <app-project-list [projectData]="projectEmployees"></app-project-list>
    </mat-dialog-content>
</div>
