<div class="project-container">
    <div *ngIf="!editProjectName" (click)="editProjectName=true">
        <h2 mat-dialog-title>{{project.name}}</h2>
    </div>
    <div *ngIf="editProjectName">
        <mat-form-field class="project-title-editor">
            <input matInput [(ngModel)]="projectName" (focusout)="onSaveTitle()" (keydown.enter)="onSaveTitle()">
        </mat-form-field>
    </div>
    <mat-dialog-content class="mat-typography">
        <mat-grid-list cols="4" rowHeight="500" style="height: 100vh">
            <mat-grid-tile colspan="3">
                <div class="project-detail">
                    <h3><strong>Description</strong></h3>
                    <div *ngIf="!editDescription" (click)="editDescription=true">
                        <p *ngIf="project.description !== ''">{{project.description}}</p>
                        <p *ngIf="project.description === ''">
                            <i>Add a more detailed description...</i>
                        </p>
                    </div>
                    <div *ngIf="editDescription">
                        <mat-form-field appearance="fill" class="project-description-editor">
                            <textarea matInput class="project-description-textarea" [(ngModel)]="projectDescription"></textarea>
                        </mat-form-field>
                        <div class="save-btn-container">
                            <button mat-button class="save-btn" color="primary" (click)="onSaveDescription()">Save</button>
                        </div>
                    </div>

                    <h3><strong>Manager</strong></h3>
                    The project is supervised by <b>{{getManagerName()}}</b>.<p></p>

                    <h3><strong>Assignees</strong></h3>
                    <app-stack-list [stackData]="projectEmployees"></app-stack-list>
<!--                    <p>{{getAssigneesName()}}</p>-->

                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div class="side-btn-container">
                    <button mat-stroked-button class="side-btn">
                        <mat-icon class="icon">people</mat-icon> Assignees
                    </button>
<!--                    <mat-menu #menu="matMenu">-->
<!--                        <mat-select [formControl]="formControl" [(value)]="assignees" multiple>-->
<!--                            <mat-option *ngFor="let employee of employees" [value]="employee">-->
<!--                                {{employee.firstName}} {{employee.lastName}}-->
<!--                            </mat-option>-->
<!--                        </mat-select>-->
<!--                    </mat-menu>-->
                    <button mat-stroked-button class="side-btn" (click)="onDeleteProject()" mat-dialog-close>
                        <mat-icon class="icon">delete</mat-icon> Delete
                    </button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-dialog-content>
</div>
