<mat-dialog-content>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Employee ID</mat-label>
      <input matInput placeholder="Emp Id" name="empid" [(ngModel)]="empID" required>
      <mat-error>ID is required</mat-error>
    </mat-form-field>

    <mat-form-field class="position-field" appearance="fill">
        <mat-label>Position Title</mat-label>
        <input matInput placeholder="Software Engineer" name="ptitle" [(ngModel)]="positionTitle" required>
        <mat-error>Position Title is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Denver" name="fname" [(ngModel)]="firstName" required>
        <mat-error>First Name is required</mat-error>
    </mat-form-field>
    
    <mat-form-field class="last-name-field" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Parker" name="lname" [(ngModel)]="lastName" required>
        <mat-error>Last Name is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="Apple" name="cname" [(ngModel)]="companyName" required>
        <mat-error>Company Name is required</mat-error>
    </mat-form-field>
    
    <mat-form-field class="company-name-field" appearance="fill">
        <mat-label>Company ID</mat-label>
        <input matInput placeholder="Integer value" name="cid" [(ngModel)]="companyId" required>
        <mat-error>Company ID is required</mat-error>
    </mat-form-field>
    <br>
    <mat-checkbox (change)="changeIsManagerValue($event)" class="isManager-checkbox" color="primary">Is Manager?</mat-checkbox>
    <mat-checkbox [hidden] = "!isAdminLoggedIn" (change)="changeIsAdminValue($event)" class="isAdmin-checkbox" color="primary">Is Admin?</mat-checkbox>
    <br>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Manager Name</mat-label>
        <mat-select [(ngModel)]="selectedManager" name="blah2">
            <mat-option *ngFor="let manager of managers" [value]="manager">
                {{manager.firstName}} {{manager.lastName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="startDate-field">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy" name="sdate" [(ngModel)]="date" required>
        <mat-error>Start Date is required</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker" [ngModelOptions]="{standalone: true}" [(ngModel)]="date" ngDefaultControl (selectedChanged)="onDate($event.value)"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="email-div">
        <mat-label>Email</mat-label>
        <input matInput placeholder="user@company.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>  

    <mat-form-field appearance="fill" class="password-field">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" name="pword" [type]="hide ? 'password' : 'text'" required>
        <mat-error>Password is required</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="createEmp()" mat-dialog-close [disabled]="!lastName||!firstName||!email||!password||!positionTitle||!companyName||!companyId||!empID||!email.value">
        Create Employee
    </button>
</form>
</mat-dialog-content>