.last-name-field{
    padding-left: 20px;
}

.example-viewport {
    height: 150px;
    width: 100%;
  }

.search-bar {
    margin-left: 5%;
    width: 90%;
}

.company-name-field{
    padding-left: 20px;
}

.password-field{
    padding-left: 20px;
}

.startDate-field{
    padding-left: 20px;
}

.position-field{
    padding-left: 20px;
}

.isManager-checkbox {
    font-size: 16px;
}

.isAdmin-checkbox {
    font-size: 16px;
    padding-left: 20px;
}