<p *ngIf="!onNodeDialog">
    <mat-form-field appearance="fill">
        <mat-label>Employee</mat-label>
        <mat-select [(ngModel)]="selectedEmployee" required>
            <div class="search-bar">
                <mat-form-field appearance = "legacy" class = "example-full-width">
                <input matInput type = "search" id = "transferEmployeeSearch" placeholder="Search" (input) ="searchEmployee()">
                <mat-icon matSuffix>search</mat-icon> 
                </mat-form-field>
            </div>
            <cdk-virtual-scroll-viewport #transferEmployeeScroll itemSize="5" class='example-viewport' (scrolledIndexChange)="nextEmployee($event)">
                <mat-option *cdkVirtualFor="let employee of employees; trackBy: trackByIdxEmployee" [value]="employee">
                    {{employee.firstName}} {{employee.lastName}}
                </mat-option>
            </cdk-virtual-scroll-viewport>
            
            <!-- <mat-option *ngFor="let employee of employees" [value]="employee">
                {{employee.firstName}}, {{employee.lastName}}
            </mat-option> -->
        </mat-select>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="fill">
        <mat-label>Destination manager</mat-label>
        <mat-select [(ngModel)]="selectedManager" required>
            <div class="search-bar">
                <mat-form-field appearance = "legacy" class = "example-full-width">
                <input matInput type = "search" id = "transferManagerSearch" placeholder="Search" (input) ="searchManager()">
                <mat-icon matSuffix>search</mat-icon> 
                </mat-form-field>
            </div>
            <cdk-virtual-scroll-viewport #transferManagerScroll itemSize="5" class='example-viewport' (scrolledIndexChange)="nextManagers($event)">
                <mat-option *cdkVirtualFor="let manager of managers; trackBy: trackByIdxManager" [value]="manager">
                    {{manager.firstName}} {{manager.lastName}}
                </mat-option>
            </cdk-virtual-scroll-viewport>
            <!-- <mat-option *ngFor="let manager of managers" [value]="manager">
                {{manager.firstName}}, {{manager.lastName}}
            </mat-option> -->
        </mat-select>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="fill">
        <mat-label>New Position Title</mat-label>
        <input matInput placeholder="Leave blank if unchanged" [(ngModel)]="newTitle">
    </mat-form-field>
</p>

<button mat-raised-button color="primary" (click)="submitTransfer()" mat-dialog-close [disabled]="!selectedEmployee || !selectedManager">
    Request Transfer
</button>
