::ng-deep .mat-snack-bar-container{
    color: #000000 !important;
    background-color: #FFFFFF !important;
}
::ng-deep .mat-simple-snackbar-action {
    color: #509E2F;
}

.example-viewport {
    height: 175px;
    width: 100%;
  }

.search-bar {
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
}