<mat-card class="notification-card" *ngIf="notification && !notification.dismissed">
    <mat-card-header>
        <mat-icon mat-card-avatar>announcement</mat-icon>
        <mat-card-title>{{ notification.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p *ngIf="notification.managerRequest">
            Status: {{ notification.managerRequest.status }}
        </p>
        <p>
            {{ notification.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="!notification.managerRequest || 
            notification.managerRequest.toManager !== authService.profile._id || notification.managerRequest.status !== requestStatus.Pending" (click)="dismiss()">
            Dismiss
        </button>
        <button mat-button *ngIf="notification.managerRequest && 
            (notification.managerRequest.fromManager === authService.profile._id || 
            (authService.profile.isAdmin && authService.profile._id !== notification.managerRequest.toManager)) && notification.managerRequest.status === requestStatus.Pending" (click)="cancelRequest()">
            Cancel
        </button>
        <button mat-button *ngIf="notification.managerRequest && 
            notification.managerRequest.toManager === authService.profile._id && notification.managerRequest.status === requestStatus.Pending" (click)="approveRequest()" style="color:green">
            Approve
        </button>
        <button mat-button *ngIf="notification.managerRequest && 
            notification.managerRequest.toManager === authService.profile._id && notification.managerRequest.status === requestStatus.Pending" (click)="rejectRequest()" style="color:red">
            Reject
        </button>
    </mat-card-actions>
</mat-card>