<div class = "node-detail-dialog">
<div>
<div class="dot" style="{{getColor(nodeData.positionTitle)}}">
<span class="spacer"></span>
<button mat-icon-button class="menu-btn" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
<button mat-menu-item (click)="openEditNodeDialog()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
</button>
<button mat-menu-item (click)="onTransferEmployee()">
    <mat-icon>transfer_within_a_station</mat-icon>
    <span>Transfer</span>
</button>
<button mat-menu-item (click)="onDeleteEmployee()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
</button>
</mat-menu>
</div>
</div>
<mat-dialog-content>
    <div class="inline"><img src="assets/icons/default-avatar.png" alt="" style="width: 72px; margin-left: 2px"></div>
    <div style="margin-left: 96px; margin-top: 8px">
        <div style="font-size: large">
            <strong>{{nodeData.firstName}} {{nodeData.lastName}}</strong>
        </div>
        <div style="margin-top: 20px">
            {{nodeData.positionTitle}}
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-content>
    <div>
        <mat-icon class="icon">email</mat-icon>
        <span>{{nodeData.email}}</span>
    </div>
    <div>
        <mat-icon class="icon">person</mat-icon>
        <span>Employee Id: {{nodeData._id}}</span>
    </div>
   <div *ngIf="projects">
    <h3><strong>Projects</strong></h3>
    <app-project-list [projectData]="projects"></app-project-list>
    </div>
    <!-- <div>
       Make ng-if here for nodeData.projects length
        <mat-icon class="icon">article</mat-icon>
        <span>Projects: {{nodeData.projects}}</span>
    </div> -->
</mat-dialog-content>
