<div class = "node-detail-dialog">
<div>
<div class="dot" style="{{getColor(nodeData.positionTitle)}}">
<span class="spacer"></span>
<button mat-icon-button class="menu-btn">
    <mat-icon>more_vert</mat-icon>
</button>
</div>
</div>
<mat-dialog-content>
    <div class="inline"><img src="assets/icons/default-avatar.png" alt="" style="width: 72px; margin-left: 2px"></div>
    <div style="margin-left: 96px; margin-top: 8px">
        <div style="font-size: large">
            <strong>{{nodeData.firstName}} {{nodeData.lastName}}</strong>
            
        <button mat-icon-button color="primary" (click)="openEditNodeDialog()" aria-label="Example icon button with a home icon">
        <mat-icon>edit</mat-icon>
        </button>
           
        </div>
        <div style="margin-top: 20px">
            {{nodeData.positionTitle}}
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-content>
    <div>
        <mat-icon class="icon">email</mat-icon>
        <span>{{nodeData.email}}</span>
    </div>
    <div>
        <mat-icon class="icon">person</mat-icon>
        <span>Employee Id: {{nodeData._id}}</span>
    </div>
   <div *ngIf="nodeData.projects.length!=0">
    <h3><strong>Projects</strong></h3>
    <app-stack-list [stackData]="nodeData.projects"></app-stack-list>
    </div>
    <!-- <div>
       Make ng-if here for nodeData.projects length
        <mat-icon class="icon">article</mat-icon>
        <span>Projects: {{nodeData.projects}}</span>
    </div> -->
</mat-dialog-content>
<mat-dialog-actions class="actions">
    <button *ngIf="nodeData.isAdmin || nodeData.isManager" mat-stroked-button class="button" color="primary" mat-dialog-close>TRANSFER</button>
    <span style="width: 32px;"></span>
    <button *ngIf="nodeData.isAdmin || nodeData.isManager" mat-stroked-button class="button" color="warn" mat-dialog-close>REMOVE</button>
</mat-dialog-actions>
</div>
