.dot {
    position: relative;
    top: -10px;
    left: -10px;
    height: 15px;
    width: 15px;
    background-color: #0093FF;
    border-radius: 50%;
    display: inline-block;
}

.avatar {
    display: inline;
}

div.inline {
    float:left;
}

.icon {
    position: relative;
    top: 8px;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 12px;
    color: grey;
}

.button {
    width: 128px;
}

.actions {
    margin-top: 16px;
    margin-left: 10px;
}

h3{
    padding-top:20px;
}

.spacer {
    flex: 1 1 auto;
}

.mat-menu-item {
    width: 150px;
}

.menu-btn{
    margin-left:320px;
}

.node-detail-dialog{
    min-height:300px;
    width: 331.66px;
}