<div class="dot" style="{{getColor(nodeData.positionTitle)}}"></div>
<mat-dialog-content>
    <div class="inline"><img src="assets/icons/default-avatar.png" alt="" style="width: 72px; margin-left: 2px"></div>
    <div style="margin-left: 96px; margin-top: 8px">
        <div style="font-size: large">
            <strong>{{nodeData.firstName}} {{nodeData.lastName}}</strong>
        </div>
        <div style="margin-top: 20px">
            {{nodeData.positionTitle}}
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-content>
    <div>
        <mat-icon class="icon">email</mat-icon>
        <span>{{nodeData.email}}</span>
    </div>
    <div>
        <mat-icon class="icon">person</mat-icon>
        <span>Employee Id: {{nodeData._id}}</span>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="actions">
    <button mat-stroked-button class="button" color="primary" (click)="onTransferEmployee()" mat-dialog-close>TRANSFER</button>
    <span style="width: 32px;"></span>
    <button mat-stroked-button class="button" color="warn" (click)="onDeleteEmployee()" mat-dialog-close>REMOVE</button>
</mat-dialog-actions>
