.dot {
    position: relative;
    top: -10px;
    left: -10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.avatar {
    display: inline;
}

.spacer {
    flex: 1 1 auto;
}

.details {
    overflow: hidden;
}

div.inline {
    float:left;
}

.icon {
    position: relative;
    top: 8px;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 12px;
    color: grey;
}
 
/* .button {
    width: 128px;
} */

.actions {
    margin-top: 16px;
    margin-left: 10px;
}

h3{
    padding-top:20px;
}

.spacer {
    flex: 1 1 auto;
}

.mat-menu-item {
    width: 150px;
}

.menu-btn{
    margin-left:330px;
}

.node-detail-dialog{
    min-height:220px;
    width: 350px;
}

::ng-deep .mat-snack-bar-container{
    color: #000000 !important;
    background-color: #FFFFFF !important;
}

::ng-deep .mat-simple-snackbar-action {
    color: #509E2F;
}
