<mat-dialog-content>
    <mat-list>
        <mat-list-item style="padding-bottom:20px;" *ngFor="let node of stackData">
            <div class="inline">
                <img src="assets/icons/default-avatar.png" alt="" style="width: 40px; padding-right: 10px;">
            </div>
            <div style="font-size: medium; display: inline-block; margin-left:10px; padding-right:10px;">
                <strong>
                    {{node.firstName}} {{node.lastName}}
                <br>
                    {{node.positionTitle}}
                </strong>
            </div>
            <span class="spacer"></span>
            <button matTooltip="Navigation" style="margin-left: 8px" *ngIf="node.manages.length > 0" mat-stroked-button color="primary" mat-dialog-close (click)="onNavigateClick(node)">
            <mat-icon>navigation</mat-icon>
            </button>
            <button style="margin-left: 8px" *ngIf="node.manages.length === 0 && find" mat-stroked-button color="warn" mat-dialog-close (click)="navigateToManager(node)">Find</button>
            <button matTooltip="Details" style="margin-left: 8px" *ngIf="details" mat-stroked-button class="button" color="primary" mat-dialog-close (click)="onDetailsClick(node)">
            <mat-icon>perm_identity</mat-icon></button>
        </mat-list-item>
           
    </mat-list>
</mat-dialog-content>
