.logo {
    position: relative;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 6em;
    margin-bottom: 10em;
}

.header {
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    text-align: left;
}

.input {
    position: relative;
    width: 300px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.mat-form-field {
    width: 300px;
}

.button {
    position: relative;
    width: 300px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

.mat-checkbox {
    position: absolute;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.mat-form-field {
    font-size: 16px;
}

.mat-flat-button {
    position: absolute;
    font-size: 16px;
    width: 80px;
    right: 0;
    color: white;
    font-weight: normal;
    letter-spacing: 1px;
    top: 50%;
    transform: translateY(-50%);
}

::ng-deep .mat-form-field-outline {
    background-color: white;
}



