<img class="logo" src="assets/logo/logo-large.png" alt="ultimate software">

<div class="header">
    <p class="mat-title">Welcome</p>
</div>

<div class="input">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput id="email"
               (keydown.enter)="pwd.focus()"
               [formControl]="controller"
               autocomplete="off">
        <button mat-icon-button matSuffix disabled style="color: black">
            <mat-icon>email</mat-icon>
        </button>
        <mat-error *ngIf="controller.hasError('incorrect')"></mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput #pwd id="password"
               [type]="hide ? 'password' : 'text'"
               [formControl]="controller"
               (keydown.enter)="login()"
               autocomplete="off">
        <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="controller.hasError('incorrect')">
            The email or password is <strong>incorrect</strong>.
        </mat-error>
    </mat-form-field>
</div>

<div class="button">
    <mat-checkbox class="mat-checkbox" color="primary">
        Remember me
    </mat-checkbox>
    <button mat-flat-button color="primary" (click)="login()">
        <span>Next</span>
    </button>
</div>

