<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                General Settings
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button (click)="onNodeClick()">
            <mat-icon>person</mat-icon> Edit My Info
        </button>
        <br>
        <button mat-button (click)="downloadEmployeeJSON()">
            <mat-icon>contacts</mat-icon> Download Employees JSON
        </button>
        <br>
        <button mat-button (click)="downloadProjectJSON()"> 
            <mat-icon>archive</mat-icon> Download Projects JSON
        </button>
        <br>
        <button mat-button (click)="openMyProjects()"> <!--(click) to be changed-->
            <mat-icon>assignment</mat-icon> My Projects
        </button>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="authService.profile && authService.profile.isManager">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Management Tools
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button (click)="openMyEmployees()">
            <mat-icon>groups</mat-icon> My Employees
        </button>
        <br>
        <button mat-button (click)="openEmployeeTransferDialog()">
            <mat-icon>transfer_within_a_station</mat-icon> Transfer Employee
        </button>
        <br>
        <button mat-button (click)="openCreateEmployeeDialog()">
            <mat-icon>create</mat-icon> Add Employee
        </button>
        <br>
        <button mat-button (click)="openCreateProjectDialog()"> <!--(click) to be changed-->
            <mat-icon>article</mat-icon> Create Project
        </button>
    </mat-expansion-panel>
</mat-accordion>