<div class="oc-node">
    <button *ngIf="datasource.manager" mat-icon-button class="oc-arrow" (click)="onNavigateClick(datasource)">
        <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <div class="placeholder" *ngIf="!datasource.manager"></div>
    <chart-node [nodeData]="datasource"></chart-node>
</div>
<div *ngIf="datasource.manages.length > 0" class="oc-groups">
    <ng-container *ngFor="let node of datasource.manages" >
        <div *ngIf="node" class="oc-group">
            <chart-manager  [datasource]="node"></chart-manager>
        </div>
    </ng-container>
    <div *ngIf="datasource.manages.filter(filterEmployees).length > 0" class="oc-group">
        <chart-manager [ignore]="true" [datasource]="datasource"></chart-manager>
    </div>
</div>

