.oc-groups {
    display: flex;
    flex-direction: row;
}

.orgchart > :host {
    align-items: center;
}

.orgchart > :host > .oc-node::after {
    content: "";
    box-sizing: border-box;
    left: 50%;
    height: 48px;
    width: 2px;
    position: absolute;
    background-color: #707070;
}

.orgchart > :host > .oc-groups > .oc-group > :host::before {
    height: 48px; /* adjust the vertical postion of link line ⊢ */
    top: -48px;
}

.oc-group {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 96px;
    padding-left: 32px;
    padding-right: 32px;
}

.oc-group:not(:last-child)::before {
    content: "";
    box-sizing: border-box;
    top: 48px;
    width: calc(100%);
    left: calc(50% + 2px);
    position: absolute;
    border-color: #707070;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.oc-group:last-child:not(:first-child)::before {
    content: "";
    box-sizing: border-box;
    top: 48px;
    width: calc(50% - 32px);
    position: absolute;
    border-color: #707070;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.orgchart > :host > .oc-groups > .oc-group:first-child::before {
    width: 50%;
}

:host {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*:host:not(:last-child) {
    padding-bottom: 10px;
}*/

.oc-group > :host > .oc-node:not(:last-child)::after {
    content: "";
    box-sizing: border-box;
    left: 50%;
    height: 48px;
    width: 2px;
    position: absolute;
    background-color: #707070;
}

.oc-group > :host::before {
    content: "";
    box-sizing: border-box;
    height: 48px; /* adjust the vertical postion of link line ⊢ */
    position: absolute;
    top: -48px;
    left: 50%;
    border-color: #707070;
    border-style: solid;
    border-width: 0 0 0 2px;
}

.node-card {
    width: 200px;
    height: 80px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px #0000001f;
    z-index: 99999;
}

.node-card:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px #0000001f;
    z-index: 99999;
}

.mat-card-content {
    position: relative;
    top: 24px;
}

div.inline { float:left; }
