<div>
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <button mat-icon-button color="accent" (click)="sidebar.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span><img class = "logo" style="margin-left: 1em; width: 128px;" src="assets/logo/logo-small.png" alt="logo"></span>
        <span class="spacer"></span>
        <button mat-icon-button color="accent">
            <mat-icon>help</mat-icon>
        </button>
        <button mat-icon-button color="accent" style="margin-left: 1em;">
            <mat-icon>question_answer</mat-icon>
        </button>
        <button mat-fab [matMenuTriggerFor]="menu" class="mat-elevation-z2" style="width: 3em; height: 3em; margin-left: 2em">
            <img class="avatar" src="assets/icons/default-avatar.png" alt="avatar">
        </button>
    </mat-toolbar>
</div>

<div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>login</mat-icon>Log out
        </button>
    </mat-menu>
</div>


<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidebar class="mat-elevation-z4" opened="true" mode="side" style="width: 18em;">
        <sidenav ></sidenav>
    </mat-sidenav>
</mat-sidenav-container>

<button mat-raised-button (click)="getUser()" class="button">
    Get User
</button>
<button mat-raised-button (click)="getAllEmployees()" class="button">
    Get All Employees
</button>
<button mat-raised-button (click)="openJSONUploadDialog()" class="button">
    Upload JSON
</button>

<br>

<button mat-raised-button (click)="(createEmployee())" class="button">
    Create Employee 2501
</button>

<button mat-raised-button (click)="getSingleEmployee()" class="button">
    Get Employee 2501
</button>

<br>

<button mat-raised-button (click)="(updateEmployee())" class="button">
    Update Employee 2501
</button>

<button mat-raised-button (click)="(deleteEmployee())" class="button">
    Delete Employee 2501
</button>

<br>

<button mat-raised-button (click)="(downloadJSON())" class="button">
    Download JSON
</button>

<button mat-raised-button (click)="openEmployeeTransferDialog()" class="button">
    Transfer Employee
</button>