<div>
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <span><img class="logo" style="margin-left: 1em; width: 128px;" src="assets/logo/logo-small.png"
            alt="logo"></span>
    <div class="search-bar">
            <mat-form-field appearance = "legacy" class = "example-full-width">
            <input matInput type = "search" id = "mySearch" placeholder="Search" (keydown.enter) = openDialog()>
            <mat-icon matSuffix>search</mat-icon> 
            </mat-form-field>
        </div>

    <span class="spacer"></span>
    <button mat-button (click)="openProjectDialog()">
        Get Project
    </button>
    <button mat-button color="accent">
        <mat-icon>help</mat-icon>
    </button>
    <button mat-button color="accent" (click)="notifications.toggle()">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-fab [matMenuTriggerFor]="menu" class="mat-elevation-z2" style="width: 3em; height: 3em; margin-left: 2em">
        <img class="avatar" src="assets/icons/default-avatar.png" alt="avatar">
    </button>
</mat-toolbar>
</div>

<div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openSettingsDialog()">
            <mat-icon>settings</mat-icon>Settings
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>login</mat-icon>Log out
        </button>
    </mat-menu>
</div>





<mat-drawer-container>

    <section id="chart-container" *ngIf="employeeService.curSubtree">
        <organization-chart chartClass="myChart" [datasource]="employeeService.curSubtree" class="orgchart">
        </organization-chart>
    </section>
    <mat-drawer #notifications mode="side" opened="false" position="end">
        <button mat-button color="gray" (click)="notifications.toggle()">
            <mat-icon>close</mat-icon><span class="button-text">Close</span>
        </button>
        <h2 class="notification-header">Notifications</h2>
        <br>
        <notification-card type="incoming" employee="Steve" prevManager="Bill" destManager="Joe"></notification-card> 
        <notification-card type="outgoing" employee="Steve" prevManager="Bill" destManager="Joe" status="Pending"></notification-card>
    </mat-drawer>
</mat-drawer-container>

