.form-field {
    width: 450px;
    margin-top: 16px;
}

.mat-icon {
    color: grey;
    margin-right: 16px;
}

.actions {
    align: right;
}

.option {
    height: 64px;
}

.icon {
    margin-top: 16px;
    width: 40px;
}

div.inline { float:left; }

::ng-deep .mat-snack-bar-container{
    color: #000000 !important;
    background-color: #FFFFFF !important;
}
::ng-deep .mat-simple-snackbar-action {
    color: #509E2F;
}
