.oc-groups {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.orgchart > :host {
    align-items: center;
}

.orgchart > :host > .oc-node.oc-is-collapsed::after {
    height: 64px;
    top: 64px;
    display: none;
}

/* line for org chart ceo*/
.orgchart > :host > .oc-node::after { 
    content: "";
    box-sizing: border-box;
    left: 590px;
    height: 64px;
    width: 2px;
    position: absolute;
    background-color: #707070;
    border-width: 0 2px 0 0;
}

.orgchart > :host > .oc-groups > .oc-group > :host::before {
    height: 0px; /* adjust the vertical postion of link line ⊢ */
    top: 36px;
    content: "";
    box-sizing: border-box;
    background-color: #707070;
    border-width: 0 2px 2px 0;
}

.oc-node {
    /*border: 3px solid transparent;*/
    text-align: left;
}

.oc-group {
    position: relative;
    display: flex;
    flex-direction: row;
   
}

.orgchart > :host > .oc-groups > .oc-group:first-child {
    /* padding-left: 10px; */
}


.orgchart > :host > .oc-groups > .oc-group:first-child::before {
    width: calc(100% + 8px);
    left: 2px;
}

:host {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 128px;
}




/* .oc-group > :host::before {

  content: "";
  box-sizing: border-box;
  height: 65px; /* adjust the vertical postion of link line ⊢ */
  /* width: 160px;
  position: absolute;
  left: -40px;
  top: 1px; */
  /* border-color: rgba(217, 83, 79, 0.8);
  border-style: solid;
  border-width: 0 0 0 2px;
} */ 

/* adjust the vertical postion of link line ⊢ */
.oc-group:first-child > :host:first-child::before {
    /* top: -20px;  */
    content: "";
    box-sizing: border-box;
    height: 64px; /* THIS IS WHERE LINE SIZING IS HAPPENING ⊢ */
    width: 10px;
    position: absolute;
    left: 340px;
    top: 1px; /* adjust the vertical postion of link line ⊢ */
    border-color: #07b32c;
    /* rgba(127, 79, 217, 0.8); */
    border-style: solid;
    border-width: 0 2px 0 0;
}


  :host(:first-child)::after { 
    content: "";
    box-sizing: border-box;
    height: 65px; /* THIS IS WHERE LINE SIZING IS HAPPENING ⊢ */
    width: 320px;
    position: absolute;
    margin-right: -240px;
    top: 64px; /* adjust the vertical postion of link line ⊢ */
    border-color: #da17c9;
    border-style: solid;
    border-width: 2px 0 0 2px;
  }

  /* works for all nodes except single nodes*/
  :host:not(:first-child)::after{ 
    content: "";
    box-sizing: border-box;
    height: 65px; /* THIS IS WHERE LINE SIZING IS HAPPENING ⊢ */
    width: 305px;
    position: absolute;
    margin-right: -245px;
    top: 64px; /* adjust the vertical postion of link line ⊢ */
    border-color: #862bec;
    border-style: solid;
    border-width: 2px 0 0 2px;
  }
/* if changed to before takes off single node lines - used for single nodes*/
  :host(:last-child)::after{ 
    content: "";
    box-sizing: border-box;
    height: 65px; /* THIS IS WHERE LINE SIZING IS HAPPENING ⊢ */
    width: 320px;
    position: absolute;
    margin-right: 390px;
    top: 64px; /* adjust the vertical postion of link line ⊢ */
    border-color: #13d8c8;
    border-style: solid;
    border-width: 0 2px 0 0;
  }

  :host(:last-child)::before{ 
    content: "";
    box-sizing: border-box;
    height: 65px; /* THIS IS WHERE LINE SIZING IS HAPPENING ⊢ */
    width: 320px;
    position: absolute;
    margin-right: 390px;
    top: 64px; /* adjust the vertical postion of link line ⊢ */
    border-color: #3e13d8;
    border-style: solid;
    border-width: 0 2px 0 0;
  }

.node-card {
    width: 200px;
    height: 80px;
    margin-right: 80px;
}

.node-card:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px #0000001f;
    z-index: 99999;
}

.mat-card-content {
    position: relative;
    top: 24px;
}

div.inline { float:left; }
