<div [id]="datasource.id" (click)="onClickNode($event)">
    <div class="oc-groups">
        <ng-container
                *ngTemplateOutlet="nodeTemplate ? nodeTemplate : defaultNodeTemplate; context:{ datasource:datasource,nodeHeading: nodeHeading, nodeContent: nodeContent }">
        </ng-container>
        <div *ngIf="datasource.children" class="oc-child">
            <ng-container *ngFor="let node of datasource.children;let i=index">
                <div class="oc-node">
                    <orgchart-node *ngIf="i < datasource.children.length" [datasource]="datasource.children[i]"
                                   [nodeTemplate]="nodeTemplate" (nodeClick)="onNodeClick($event)">
                    </orgchart-node>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #defaultNodeTemplate let-nodeData="datasource" let-heading="nodeHeading" let-content="nodeContent">
    <div class="container">
        <mat-card matRipple class="node-card" style={{getColor(nodeData.title)}}
                  (cdkDragStarted)="onDragStart($event)"
                  (cdkDragEnded)="onDragEnded($event)"
                  (cdkDragReleased)="onDragRelease()"
                  cdkDrag>
            <mat-card-header class="header"></mat-card-header>
            <mat-card-content>
                <div class="inline"><img src="assets/icons/default-avatar.png" alt="" style="width: 48px; margin-left: 2px"></div>
                <div style="margin-left: 64px;">
                    <div><strong>{{nodeData.name}}</strong></div>
                    <div style="margin-top: 6px">{{nodeData.title}}</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>
