<mat-card class="oc-node" [ngClass]="{highlight: nodeData.highlight}" style="{{getColor(nodeData.positionTitle)}}" (click)="onNodeClick()" matRipple >
    <mat-card-content>
        <div class="inline">
            <img class="node-pic" src="assets/icons/default-avatar.png" alt="">
        </div>
        <div class="node-content">
            <div>
                <strong>{{nodeData.firstName}} {{nodeData.lastName}}</strong>
            </div>
            <div class="node-title">
                {{nodeData.positionTitle}}
            </div>
        </div>
    </mat-card-content>
</mat-card>
