<div class="oc-node" [id]="datasource.id" [class.oc-is-selected]="isSelected" (click)="onClickNode($event)" cdkDrag>
    <ng-container
            *ngTemplateOutlet="nodeTemplate ? nodeTemplate : defaultNodeTemplate; context:{ datasource:datasource,nodeHeading: nodeHeading, nodeContent: nodeContent }">
    </ng-container>
</div>
<div *ngIf="datasource.children" [@expandCollapse]="isCollapsed ? 'collapsed' : 'expanded'"
     (@expandCollapse.start)="toggleAnimStart($event)" (@expandCollapse.done)="toggleAnimEnd($event)"
     [ngStyle]="ecStyles" class="oc-groups">
    <ng-container *ngFor="let node of datasource.children;let i=index">
        <div *ngIf="i % groupScale === 0" class="oc-group">
            <ng-container *ngFor="let temp of Arr(groupScale);let j=index;">
                <orgchart-node *ngIf="i + j < datasource.children.length" [datasource]="datasource.children[i + j]"
                               [nodeHeading]="nodeHeading" [nodeContent]="nodeContent" [nodeTemplate]="nodeTemplate"
                               [groupScale]="groupScale" [select]="select" (nodeClick)="onNodeClick($event)">
                </orgchart-node>
            </ng-container>
        </div>
    </ng-container>
</div>

<ng-template #defaultNodeTemplate let-nodeData="datasource" let-heading="nodeHeading" let-content="nodeContent">
    <div class="container">
        <mat-card matRipple class="node-card" style={{getColor(nodeData.title)}}
                  (cdkDragStarted)="onDragStart($event)"
                  (cdkDragEnded)="onDragEnded($event)"
                  (cdkDragReleased)="onDragRelease()"
                  cdkDrag>
            <mat-card-header class="header"></mat-card-header>
            <mat-card-content>
                <div class="inline"><img src="assets/icons/default-avatar.png" alt="" style="width: 48px; margin-left: 2px"></div>
                <div style="margin-left: 64px;">
                    <div><strong>{{nodeData.name}}</strong></div>
                    <div style="margin-top: 6px">{{nodeData.title}}</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>
