<div class="container">
    <div class = "search-query">
        <h3> Search Result : "{{searchQuery}}"</h3>
    </div>
    <mat-divider></mat-divider>
    <mat-tab-group animationDuration="500ms" mat-stretch-tabs>
        <mat-tab label="People">
            <app-stack-list [stackData]="searchResults.employees" find="true" [nextUrl]="searchResults.nextEmployeeURL" newRoot='true'></app-stack-list>
            <button [disableRipple]="true" mat-icon-button [disabled]="!searchResults.prevEmployeeURL" (click)="prevEmployee()">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <button [disableRipple]="true" mat-icon-button [disabled]="!searchResults.nextEmployeeURL" (click)="nextEmployee()">
                <mat-icon>navigate_next</mat-icon>
            </button>            
            <!-- <mat-paginator [length]="100"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator> -->
        </mat-tab>
        <mat-tab label="Projects">
            <app-project-list [projectData]="searchResults.projects"></app-project-list>
            <button [disableRipple]="true" mat-icon-button [disabled]="!searchResults.prevProjectURL" (click)="prevProject()">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <button [disableRipple]="true" mat-icon-button [disabled]="!searchResults.nextProjectURL" (click)="nextProject()">
                <mat-icon>navigate_next</mat-icon>
            </button>            
            <!-- <mat-paginator [length]="100"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator> -->
        </mat-tab>
    </mat-tab-group>
</div>
<!-- <mat-divider></mat-divider>
<mat-tab-group animationDuration="500ms">
    <mat-tab label="People"> 
        <app-stack-list [stackData]="searchResults.employees" find="true"></app-stack-list>    -->
        <!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>      -->
    <!-- </mat-tab>
    <mat-tab label="Projects">        
         <app-project-list [projectData]="searchResults.projects"></app-project-list>  -->
         <!-- <mat-paginator [length]="100"
         [pageSize]="10"
         [pageSizeOptions]="[5, 10, 25, 100]">
   </mat-paginator>          -->
     <!-- </mat-tab>
</mat-tab-group> -->
<!-- <span id="people">
    <div style="margin-top:20px;">
        <h3>
            People: {{searchResults.employees.length}}+ Results
        </h3>
    </div>
    <div style="margin-top:20px;">
        <h3>
            Projects: {{searchResults.employees.length}}+ Results
        </h3>
    </div>
</span> -->
