.oc-groups {
    display: flex;
    flex-direction: row;
}

.oc-group {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 96px;
    padding-left: 32px;
    padding-right: 32px;
}

:host {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oc-group > :host > .oc-node::after {
    content: "";
    box-sizing: border-box;
    left: 50%;
    height: 48px;
    position: absolute;
    border-color: #707070;
    border-style: solid;
    border-width: 0 2px 0 0;
    z-index: -1;
}

.oc-group > :host::before {
    content: "";
    box-sizing: border-box;
    height: 45px;
    position: absolute;
    top: -46px;
    left: 50%;
    border-color: #707070;
    border-style: solid;
    border-width: 0 0 0 2px;
}

.oc-stack {
    padding-top: 96px;
}

.oc-arrow {
    left: calc(50% - 16px);
    color: grey;
    margin-top: 16px;
}
